Django==1.8.3
Mezzanine==4.0.1
Pillow==2.9.0
argparse==1.2.1
beautifulsoup4==4.4.0
bleach==1.4.1
chardet==2.3.0
decorator==4.0.2
django-appconf==1.0.1
django-compressor==1.5
django-contrib-comments==1.6.1
filebrowser-safe==0.4.0
future==0.15.0
grappelli-safe==0.4.1
html5lib==0.999999
ipython==4.0.0
ipython-genutils==0.1.0
oauthlib==1.0.1
path.py==7.6
pexpect==3.3
pickleshare==0.5
pytz==2015.4
requests==2.7.0
requests-oauthlib==0.5.0
simplegeneric==0.8.1
six==1.9.0
traitlets==4.0.0
tzlocal==1.2
wsgiref==0.1.2
