<!doctype html>
<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
{% load templateutils pages_tags mezzanine_tags i18n future staticfiles %}

<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta name="copyright" content="Copyright Logicon">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
<meta name="description" content="{% block meta_description %}{% endblock %}">
<title>{% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>
<link rel="shortcut icon" href="{% static "img/favicon.ico" %}">

{% ifinstalled mezzanine.blog %}
<link rel="alternate" type="application/rss+xml" title="RSS" href="{% url "blog_post_feed" "rss" %}">
<link rel="alternate" type="application/atom+xml" title="Atom" href="{% url "blog_post_feed" "atom" %}">
{% endifinstalled %}

<!--FONTS-->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
<link href="{% static "css/font-awesome.min.css" %}" rel="stylesheet" type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700' rel='stylesheet' type='text/css'>

{% compress css %}
<link href="{% static "css/prettyPhoto.css" %}" rel="stylesheet" type="text/css" />
<link href="{% static "css/normalize.css" %}" rel="stylesheet" type="text/css" />
<link href="{% static "css/responsive-slider.css" %}" rel="stylesheet" type="text/css" />
<link href="{% static "css/style.css" %}" rel="stylesheet" type="text/css" />
<link href="{% static "css/slicknav.css" %}" rel="stylesheet" type="text/css" />
<link href="{% static "css/color_changer.css" %}" rel="stylesheet" type="text/css" />
<!-- COLOR SCHEMES-->
{# all init disabled #}
<link href="{% static "css/scheme-blue.css" %}" rel="alternate stylesheet" title="scheme-blue" disabled>
<link href="{% static "css/scheme-blue-2.css" %}" rel="alternate stylesheet" title="scheme-blue-2" disabled>
<link href="{% static "css/scheme-green.css" %}" rel="alternate stylesheet" title="scheme-green" disabled>
<link href="{% static "css/scheme-green-2.css" %}" rel="alternate stylesheet" title="scheme-green-2" disabled>
<link href="{% static "css/scheme-lilac.css" %}" rel="alternate stylesheet" title="scheme-lilac" disabled>
<link href="{% static "css/scheme-orange.css" %}" rel="alternate stylesheet" title="scheme-orange" disabled>
<link href="{% static "css/scheme-pink.css" %}" rel="alternate stylesheet" title="scheme-pink" disabled>
<link href="{% static "css/scheme-red.css" %}" rel="alternate stylesheet" title="scheme-red" disabled>
<link href="{% static "css/scheme-yellow.css" %}" rel="alternate stylesheet" title="scheme-yellow" disabled>
<!-- This is for portfolio  item slider -->
<link rel="stylesheet" href="{% static "css/flexslider.css" %}" type="text/css">
{% block extra_css %}{% endblock %}
{% endcompress %}

<!--[if lt IE 9]>
<script src="{% static "js/html5shiv.js" %}"></script>
<script src="{% static "js/respond.min.js" %}"></script>
<![endif]-->

{% compress js %}
{# No external links in here #}

{% comment %}
Adding jQuery. If we want to add a newer version than in the mezzanine/js dir from our theme/static/js dir, then
doing it the way immediately below
    <!--script src="{% static "js/"|add:settings.JQUERY_FILENAME %}"></script-->
means problems for admin looking in mezzanine/js for a non-existant version 
thus meaning we have to copy the version to venv each time, or override admin. The simplest solution is thus
as below.
{% endcomment %}
<script src="{% static "js/jquery-2.1.0.min.js" %}"></script>


<!-- BLOG TAGCLOUD-->
<script src="{% static "js/jquery.tagcloud.js" %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static "js/readmore.min.js" %}" type="text/javascript" charset="utf-8"></script>

<script type="text/javascript">
    $.fn.tagcloud.defaults = {
      size: {start: 14, end: 18, unit: 'pt'},
      color: {start: '#999', end: '#666'}
    };

    $(function () {
      $('#blog_tagcloud a').tagcloud();
      // After making the cloud apply readmore
      $('#blog_tagcloud').readmore({lessLink: '<a href="#" class="tagtoggle">Fewer tags...</a>',
                                     moreLink: '<a href="#" class="tagtoggle">More tags...</a>',
                                     collapsedHeight: 190,
                                   });
    });
</script>

<!-- Dropdown Menu(tagets #jsddm ul) -->
<!-- NB this is limited to single level, see mlddm for more-->
<script src="{{ STATIC_URL }}js/jsddm.js"></script>

<!--slickNav (Mob nav menu) related-->
<script src="{{ STATIC_URL }}js/modernizr.min.js"></script>
<!--slickNav init -->
<script src="{{ STATIC_URL }}js/jquery.slicknav.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
      $('#menu').slicknav({
          prependTo:'#menu-mob',
          closeOnClick:true
      });
    });
</script>

<!--enable initial css color style by setting the default-->
<script type="text/javascript" charset="utf-8">
var defaultTitle = '{{ settings.COLORSCHEME }}';
</script>
{# User pick theme colors switch style sheet#}
<script src="{% static "js/switch_style.js" %}" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
function imgLoaded(img){
    var $img = $(img);
    //$img.parent().addClass('loaded');
    $img.closest('.img_wrapper').addClass('loaded');
};
</script>
{% block extra_js %}{% endblock %}
{# This is needed for editable toolbar at top left #}
{# and google analytics functionality #}
{% include "includes/footer_scripts.html" %}
{% endcompress %}

{% if LANGUAGE_BIDI %}
<link rel="stylesheet" href="{% static "css/rtl.css" %}" %}">
{% endif %}
{% ifinstalled cartridge.shop %}
<link rel="stylesheet" href="{% static "css/cartridge.css" %}" %}">
{% if LANGUAGE_BIDI %}
<link rel="stylesheet" href="{% static "css/cartridge.rtl.css" %}">
{% endif %}
{% endifinstalled %}

{% block extra_head %}{% endblock %}
</head>

<body id="{% block body_id %}body{% endblock %}">

<header>

    <div class="site-header">

        <div class="header-container">
            <h1><a href="/"> {% autoescape off %}{{ settings.SITE_TITLE|splitcolor }} {% endautoescape %}</a></h1>

            <div class="menu-mobile-container">

                <div class="menu-mobile"  id="menu-mob">

                    <!--placeholder for slicknav to insert its menu (styling was menu) -->

                </div> <!-- /menu-mobile-->

            </div> <!-- /menu-mobile-container-->

            <div id="menu">
                {% block topmenu %}
                {% page_menu "pages/menus/nonindex_dropdown.html" %}
                {% endblock %}
            </div>

        </div><!--/header-container-->

    </div><!--/site-header-->

</header>

{# For production (except static preview) this should only appear when user logged in #}
{% if user.is_authenticated %}
<div class="theme-changer-wrap">
    <div class="theme-changer">
        <div class="changer-inner">
            <span>Color Scheme</span>
            <ul id="colors">
                <li><a title="Orange(Default)" href="javascript:chooseStyle('scheme-orange', 60)" class="scheme-orange">Orange</a></li>
                <li><a title="Blue" href="javascript:chooseStyle('scheme-blue', 60)" class="scheme-blue">Blue</a></li>
                <li><a title="Blue 2" href="javascript:chooseStyle('scheme-blue-2', 60)" class="scheme-blue-2">Blue 2</a></li>
                <li><a title="Green" href="javascript:chooseStyle('scheme-green', 60)" class="scheme-green">Green</a></li>
                <li><a title="Green 2" href="javascript:chooseStyle('scheme-green-2', 60)" class="scheme-green-2">Green</a></li>
                <li><a title="Lilac" href="javascript:chooseStyle('scheme-lilac', 60)" class="scheme-lilac">Lilac</a></li>
                <li><a title="Pink" href="javascript:chooseStyle('scheme-pink', 60)" class="scheme-pink">Pink</a></li>
                <li><a title="Red" href="javascript:chooseStyle('scheme-red', 60)" class="scheme-red">Red</a></li>
                <li><a title="Yellow" href="javascript:chooseStyle('scheme-yellow', 60)" class="scheme-yellow">Yellow</a></li>
            </ul>
        </div>
    </div>
    <div class="open-close">
        <i class="fa fa-paint-brush"></i>
    </div>
</div>
{% endif %}

{% block all_content %}
<section id="{% block section_id %}page-blog {% endblock %}" class="page-container">
    <div class="site-container clearfix">
        {% block main_wrapper %}
        <div class="row">
            <div class="column-two-thirds">
                {% block main %}{% endblock %}
            </div>
            <div class="column-one-third">
                {% block right_panel %}{% include "blog/includes/filter_panel.html" %}{% endblock %}
            </div>
        </div>
        {% endblock %}
    </div>
</section>     
{% endblock %}    

<section id="section-site-map" class="clearfix">

    <div class="site-container clearfix">

        <div class="logicon-info">  
            <h1>{% autoescape off %}{{ settings.SITE_TITLE|splitcolor}}{% endautoescape %}</h1>
            <p>{% autoescape off %}{{ settings.SITE_TAGLINE|truncatewords:70 }} {% endautoescape %}<p>
        </div>

        <div class="contact-info">

            <h3>Contact Info</h3>
            <table>

                <tr>
                    <td><i class="fa fa-user"></i></td>
                    <td>{{settings.PERSONAL_NAME|default:"Joe Bloggs"}}</td>
                </tr>

                <tr>
                    <td><i class="fa fa-envelope"></i></td>
                    <td><a href="mailto:#">{{settings.PERSONAL_EMAIL|default:"joey@gmail.com"}}</a></td>
                </tr>

                <tr>
                    <td><i class="fa fa-phone"></i></td>
                    <td>{{settings.PERSONAL_PHONE|default:"777-777-777"}}</td>
                </tr>

                <tr>
                    <td><i class="fa fa-home"></i></td>
                    <td>{{settings.PERSONAL_ADDRESS|default:"742 Evergreen Terrace, Springfield, US" }}</td>
                </tr>

                <tr>
                    <td><i class="fa fa-skype"></i></td>
                    <td>{{settings.PERSONAL_SKYPE|default:"joebloggs14"}}</td>
                </tr>

            </table>

        </div>

        <div class="popular-pages">

            <h3>Popular Pages</h3>

            <ul>
                {% page_menu "pages/menus/footmenu.html" %}
            </ul>

        </div>

    </div>

</section>

<section id="footer">

    <div class="site-container clearfix">

        <p>&copy; <a href="http://www.leehodgkinson.com/"> Logicon</a> {%now "Y"%} &middot; All Rights Reserved &middot; {# { settings.SITE_TITLE} #} </p>

        <div class="footer-social-container">

            <div class="footer-social">

                {% if settings.SOCIAL_LINK_FACEBOOK %}
                <a target="_blank" href="{{ settings.SOCIAL_LINK_FACEBOOK }}"><i class="fa fa-facebook"></i></a>
                {% endif %}

                {% if settings.SOCIAL_LINK_TWITTER %}
                <a target="_blank" href="{{ settings.SOCIAL_LINK_TWITTER }}"><i class="fa fa-twitter"></i></a>
                {% endif %}

                {% if settings.PERSONAL_EMAIL %}
                <a href="mailto:{{settings.PERSONAL_EMAIL}}"><i class="fa fa-envelope"></i></a>
                {% endif %}

                {% if settings.PERSONAL_SKYPE %}
                {# This will work on iOS devices to let people click to call #}
                <a href="skype:{{settings.PERSONAL_SKYPE}}?call"><i class="fa fa-skype"></i></a>
                {% endif %}

            </div>

        </div>

    </div>

</section>


{% block extra_foot_js %}{% endblock %}

{# Open/close the color picker box #}
<script type="text/javascript">
$('.open-close').click(function () {
    if ($(this).parent().css('left') == '-158px') {
        $(this).parent().animate({
            'left': '0'
        }, 300);
        $(this).find('i').attr('class','fa fa-toggle-left');
    } else {
        $(this).parent().animate({
            'left': '-158px'
        }, 300);
        $(this).find('i').attr('class','fa fa-paint-brush');
    }
});
</script>

</body>
</html>
