{% extends "base.html" %}
{% load i18n future mezzanine_tags blog_tags keyword_tags disqus_tags %}

{% block meta_title %}{% if page %}{{ page.meta_title }}{% else %}{% trans "Blog" %}{% endif %}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for page as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ page.description }}
{% endmetablock %}{% endblock %}

{% block title %}
{% if page %}
{% editable page.title %}{{ page.title }}{% endeditable %}
{% else %}
{% trans "Blog" %}
{% endif %}
{% endblock %}

{% block breadcrumb_menu %}
{{ block.super }}
{% if tag or category or year or month or author %}
<li>{% spaceless %}
{% if tag %}
    {% trans "Tag:" %} {{ tag }}
{% else %}{% if category %}
    {% trans "Category:" %} {{ category }}
{% else %}{% if year or month %}
    {% if month %}{{ month }}, {% endif %}{{ year }}
{% else %}{% if author %}
    {% trans "Author:" %} {{ author.get_full_name|default:author.username }}
{% endif %}{% endif %}{% endif %}{% endif %}
{% endspaceless %}
</li>
{% endif %}
{% endblock %}

{% block main %}

{% if tag or category or year or month or author %}
    {% block blog_post_list_filterinfo %}
    <p>
    {% if tag %}
        {% trans "Viewing posts tagged" %} {{ tag }}
    {% else %}{% if category %}
        {% trans "Viewing posts for the category" %} {{ category }}
    {% else %}{% if year or month %}
        {% trans "Viewing posts from" %} {% if month %}{{ month }}, {% endif %}
        {{ year }}
    {% else %}{% if author %}
        {% trans "Viewing posts by" %}
        {{ author.get_full_name|default:author.username }}
    {% endif %}{% endif %}{% endif %}{% endif %}
    {% endblock %}
    </p>
{% else %}
    {% if page %}
    {% block blog_post_list_pagecontent %}
    <div class="blog_post_list_pagecontent">
        {% editable page.richtextpage.content %}
        {{ page.richtextpage.content|richtext_filters|safe }}
        {% endeditable %}
    </div>
    {% endblock %}
    {% endif %}
{% endif %}

{% for blog_post in blog_posts.object_list %}
<div class="post clearfix">
    {% block blog_post_list_post_title %}
    {% editable blog_post.title %}
    <h2><a href="{{ blog_post.get_absolute_url }}">{{ blog_post.title }}</a></h2>
    {% endeditable %}
    {% endblock %}


    {% block blog_post_list_post_metainfo %}
    {% editable blog_post.publish_date %}
    <div class="clearfix post_meta">
        <div class="time-tags-cats">
        {% blocktrans with sometime=blog_post.publish_date|timesince %}{{ sometime }} ago{% endblocktrans %} /
        {% with blog_post.user as author %}
        By <a href="{% url "blog_post_list_author" author %}">{{ author.get_full_name|default:author.username }}</a>
        {% endwith %}

        {% keywords_for blog_post as tags %}
        {% if tags %}
        /
        {% trans "Tags" %}:
        {% for tag in tags %}
        <a href="{% url "blog_post_list_tag" tag.slug %}">{{ tag }}</a>{% if not forloop.last %}, {% endif %}
        {% endfor %}
        {% endif %}

        {% with blog_post.categories.all as categories %}
        {% if categories %}
        /
        {% trans "Categories" %}:
        {% for category in categories %}
        <a href="{% url "blog_post_list_category" category.slug %}">{{ category }}</a>{% if not forloop.last %}, {% endif %}
        {% endfor %}
        {% endif %}
        {% endwith %}

        </div>

        {% if settings.COMMENTS_DISQUS_SHORTNAME %}
        <a href="{{ blog_post.get_absolute_url }}#disqus_thread"
            data-disqus-identifier="{% disqus_id_for blog_post %}">
            {% trans "Comments" %}
        </a>
        {% else %}
        <div class="comments">
            <a href="{{ blog_post.get_absolute_url }}#comments">
                {% blocktrans count comments_count=blog_post.comments_count %}{{ comments_count }} comment{% plural %}{{ comments_count }} comments{% endblocktrans %}
            </a>
        </div>
        {% endif %}
    </div>
    {% endeditable %}
    {% endblock %}

    {% if settings.BLOG_USE_FEATURED_IMAGE and blog_post.featured_image %}
    {% block blog_post_list_post_featured_image %}
    <a href="{{ blog_post.get_absolute_url }}">
        <img src="{{ MEDIA_URL }}{% thumbnail blog_post.featured_image 270 270 top=0 %}">
    </a>
    {% endblock %}
    {% endif %}



    {% block blog_post_list_post_content %}
    {% editable blog_post.content %}
    {# See README about description_from_content and why truncatewords needed #}
    {% if blog_post.description and not blog_post.gen_description %}
    {# If there is a non-auto generated description the user has set, use that #}
        {{ blog_post.description|safe }}
    {% else %}
        {{ blog_post.description_from_content|safe|truncatewords_html:"50" }}
    {% endif %}
    {% endeditable %}
    {% endblock %}    
    <a href="{{ blog_post.get_absolute_url }}" class="arrow_link">Read more</a>
</div>
{% endfor %}

{% comment %}
    The actual pagination of the posts themselves is not in the 
    mezzanine.blog.views.blog_post_list view 
    This inclusion tag just works out the "footer" (by which I mean, 
    the arrows and "page 2 of 4" for e.g.), 
    from the already paginated blog_posts list (paginator obj). 
{% endcomment %}
{% pagination_for blog_posts %}

{% if settings.COMMENTS_DISQUS_SHORTNAME %}
{% include "generic/includes/disqus_counts.html" %}
{% endif %}

{% endblock %}

{% block right_panel %}
{% include "blog/includes/filter_panel.html" %}
{% endblock %}
