.theme-changer-wrap {
    left: -158px;
    position: fixed;
    top: 20px;
    z-index: 5000;
}
.theme-changer {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    border-bottom-right-radius: 3px;
    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;
    float: left;
    font-size: 12px;
    font-weight: bold;
    opacity: 1;
    padding: 15px 20px;
    text-transform: uppercase;
}
.changer-inner {
    overflow: hidden;
    width: 114px;
}
.theme-changer-wrap a {
    box-shadow: 1px 1px 0 #efefef;
    display: inline-block;
    float: left;
}
ul#colors {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
ul#colors li a {
    cursor: pointer;
    display: inline-block;
    height: 30px;
    text-indent: -9999px;
    width: 30px;
}
ul#colors li {
    float: left;
    padding-bottom: 5px;
    padding-left: 4px;
    padding-right: 3px;
}
a.color-themes {
    cursor: pointer;
}
a.scheme-blue {
    background-color: #38B0DE;
}
a.scheme-blue-2 {
    background-color: #2B65EC;
}
a.scheme-green {
    background-color: #4E9258;
}
a.scheme-green-2 {
    background-color: #347C17;
}
a.scheme-red {
    background-color: #E41B17;
}
a.scheme-yellow {
    background-color: #FBB117;
}
a.scheme-pink {
    background-color: #F6358A;
}
a.scheme-orange {
    background-color: #C3512F;
}
a.scheme-lilac {
    background-color: #736AFF;
}
.changer-inner span {
    color: #444;
    display: block;
    margin-bottom: 15px;
    margin-left: -2px;
    text-align: center;
    text-transform: uppercase;
}
div.open-close {
    background-color: #ffffff;
    border-bottom: 1px solid #ccc;
    border-bottom-right-radius: 3px;
    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-top-right-radius: 3px;
    color: rgb(100, 100, 100);
    cursor: pointer;
    display: block;
    float: left;
    font-size: 20px;
    height: 36px;
    left: -1px;
    line-height: 36px;
    opacity: 1;
    position: relative;
    text-align: center;
    width: 38px;
    z-index: 1000;
}
