#section-site-map a:hover, h1, .post h2 a:hover, h3, a, .asterisk_input:after, #menu li a:hover, .recent-posts a:hover, .archive a:hover, .categories a:hover {
    color:#736AFF;
}

.more-posts:hover, #footer .fa:hover, span.text-content, .btn, .tag:hover .tag-body , .search .fa, .active, #section-contact .send-button,  #jsddm li ul li a:hover, .slicknav_nav a:hover {
    background: #736AFF!important;
}

.recent-posts li:nth-child(odd), .archive li:nth-child(odd), .categories li:nth-child(odd) {
    border-left: 10px solid #736AFF;
}

#menu li a:hover {
    border-bottom: 4px solid #736AFF;
}

#jsddm li ul {
    border-top: 4px solid #736AFF;
}

.tag:hover .tag-tip > i {
    border-left: 20px solid #736AFF;
}

#section-features a .fa:hover, .advert:hover {
    border: 3px solid #736AFF;
}

.errorlist li {background: #736AFF;}

.errorlist .tag-tip > i {border-color:transparent transparent transparent #736AFF;}
