{% load i18n mezzanine_tags comment_tags %}
<div id="comments">
<h3>{% trans "Comments" %}</h3>
{% if settings.COMMENTS_DISQUS_SHORTNAME %}
{% include "generic/includes/disqus_comments.html" %}
{% else %}
<script>
$(function() {
    $('.reply').click(function() {
        $('.comment-reply-form').hide();
        //$(this).siblings('.comment-reply-form').toggle();
        // need to have this toggle the correct element if reply
        // link is moved!
        $(this).closest('div.comment').find('.comment-reply-form').toggle();
        //also hide the regular blog comment box
        $('#blog-comment').hide();
    });
});
</script>
<style>.input_id_honeypot {display:none !important;}</style>
<ul data-level='0'>
    {% comment_thread object_for_comments %}
</ul>
<form method="post" id="blog-comment" action="{{ comment_url }}#comment">
    <h3>{% trans "Leave a comment" %}</h3>
    <div class="comment-background clearfix">
        {% if not request.POST.replied_to %}
        {# To edit the way fields_for renders you need to copy and change the template #}
        {# from core includes.form_fields #}
        {% fields_for posted_comment_form %}
        {# { posted_comment_form.name } #}
        {% else %}
        {% fields_for unposted_comment_form %}
        {% endif %}
        <div class="form-actions">
            <input class="btn btn-primary btn-lg" type="submit" value="{% trans "Send" %}">
        </div>
    </div>
</form>
{% endif %}
</div>
