{% load i18n mezzanine_tags comment_tags rating_tags templateutils %}

{% for comment in comments_for_thread %}
<li>
<div id="comment-{{ comment.id }}" class="comment media{% if comment.by_author %} comment-author{% endif %}">

    {% editable comment.is_public comment.is_removed %}
    {% if not comment.is_removed and comment.is_public or request.user.is_staff %}

        {# Version with URLs #}
        {% if comment.url %}
        <div class="avatar">
            <a href="{{ comment.url }}">
                <img src="{% gravatar_url comment.email 64 %}">
            </a>
        </div>
        <div class="comment-right">
            <span class="left-arrow-container-outer">
                <span class="left-arrow-container-inner">
                <i class="left-arrow"></i>
                </span>
            </span>
            <div class="comment-info">
                <span class="comment-username">
                    <a href="{{ comment.url }}">{{ comment.user_name }}</a>
                    {% if comment.replied_to %}@
                        {% if comment.replied_to.url %}
                            <a href="{{comment.replied_to.url}}">{{ comment.replied_to.user_name }}</a>
                        {% else %}
                            {{ comment.replied_to.user_name }}
                        {% endif %}
                    {% endif %}
                </span>
        {% else %}
        {# Version without URLs #}
        <div class="avatar">
            <img src="{% gravatar_url comment.email 64 %}">
        </div>
        <div class="comment-right">
            <span class="left-arrow-container-outer">
                <span class="left-arrow-container-inner">
                <i class="left-arrow"></i>
                </span>
            </span>

            <div class="comment-info"> 
                <span class="comment-username">{{ comment.user_name }}
                    {% if comment.replied_to %}@
                        {% if comment.replied_to.url %}
                            <a href="{{comment.replied_to.url}}">{{ comment.replied_to.user_name }}</a>
                        {% else %}
                            {{ comment.replied_to.user_name }}
                        {% endif %}
                    {% endif %}
                </span>
        {% endif %}
               <span class="comment-date">{% blocktrans with sometime=comment.submit_date|timesince %}{{ sometime }} ago{% endblocktrans %}</span>
            </div><!--END comment-info-->

            <p>{{ comment.comment|comment_filter }}</p>

            {% comment %}
            {# Uncomment for debugging only. #}
                <p> My id: {{ comment.id }}, I replied to: {{comment.replied_to_id}}</p>
                <p> Do I have children? {% if comment.id in all_comments|defaultdict_keys %} yes {% else %} no {% endif %} </p>
                <p> What is my level in the tree?: {{ comment|comment_level }}</p>
            {% endcomment %}

            <div class="comment-border clearfix">

                {% if settings.COMMENTS_USE_RATINGS %}
                <div class="rating">
                    {% rating_for comment %}
                </div>
                {% endif %} 

                {% if not comment.is_removed and comment.is_public %}
                {% if comment|comment_level == 0 %}
                    {# level-0 parent #}
                    {% if comment.id in all_comments|defaultdict_keys %}
                        {# Parent with child. #}
                        <a  href="#show-replies-{{ comment.id }}">
                            <span class="show-replies"></span> {% trans "Show replies" %} 
                        </a> 
                     {% endif %}
                {% endif %}
                <div class="reply-link-container">
                    <!--a class="link" href="{{ request.path }}#comment-{{ comment.id }}">
                        <span class="glyphicon glyphicon-link"></span> {% trans "Link" %} | 
                    </a--> 
                    <a href="#reply-{{ comment.id }}" class="reply">
                        <span class="glyphicon glyphicon-share-alt"></span> {% trans "Reply" %}
                    </a>
                </div>
                {% endif %}
            </div><!--END comment-border-->
        </div><!-- END comment-right-->
   

        {# Comment reply form #}
        <form class="comment-reply-form clearfix" method="post" id="reply-{{ comment.id }}"
            action="{{ comment_url }}#reply-{{ comment.id }}"
            {% if replied_to != comment.id %}style="display:none;"{% endif %}>
            {% if replied_to == comment.id %}
                {% fields_for posted_comment_form %}
            {% else %}
                {% fields_for unposted_comment_form %}
            {% endif %}
            <input type="hidden" name="replied_to" value="{{ comment.id }}">
            <i class="fa fa-spin fa-refresh reply-posted-spinner"></i>
            <input class="btn btn-primary btn-lg" type="submit" value="{% trans "Reply" %}">
        </form>


    {# Case when comment has been moved or deleted. #}
    {% else %}
    <div class="comment-deleted">
        <p>
        {% if comment.is_removed %}
        <span class="glyphicon glyphicon-remove-circle"></span> {% trans "Comment deleted" %}
        {% else %}
        <span class="glyphicon glyphicon-warning-sign"></span> {% trans "Comment awaiting approval" %}
        {% endif %}
        <small class="timespan">{% blocktrans with sometime=comment.submit_date|timesince %}{{ sometime }} ago{% endblocktrans %}</small>
        </p>
    </div><!-- END OF comment-deleted -->
    {% endif %}
    
    {% comment %}
    This is a recursive call. `comments.html` is the top-level template here, it contains the `comment_thread` tag, which is set
    (see mezz source, `generic.templatetags.comment_tags`) to send its context to this template, `comment.html`. 
    Now we use the `comment_thread` tag on this comment itself, and so the dance continues.
    {% endcomment %}

    {% if comment.id in all_comments|defaultdict_keys %}
        {% comment %}
        The custom `defaultdict_keys` tag is needed for defaultdict unlike just `.keys` for reg dict.
        The comment must have children (this is how `all_comments` works, kids are indexed under parent id), thus
        comments without children do not appear as keys in `all_comments`.
        This whole `if-else` is not strictly necessary, but it prevents empty `<ul></ul>` at the bottom level.
        N.B. you can jQ select on the data-level attrbs with `$("ul[data-level!='0']>li").hide()` etc.
        {% endcomment %}
        <ul class="comment_ul" data-level="{{ comment|comment_level|add:1 }}">
                {% comment_thread comment %}
        </ul>
    {% endif %}
    {% endeditable %}
</div>
</li>
{% endfor %}

{# Pagination numbers and arrows at foot of zeroth-level comments #}
{% block pagination_foot %}{% endblock %}

{% if no_comments %}
<p>{% trans "There are currently no comments" %}</p>
{% endif %}
