{% load i18n mezzanine_tags comment_tags templateutils %}
<div id="comments">
{% if settings.COMMENTS_DISQUS_SHORTNAME %}
{% include "generic/includes/disqus_comments.html" %}
{% else %}
    <h3><i class="fa fa-2x fa-wechat"></i> {% trans "Comments" %} ({{ object_for_comments.comments_count }})</h3>
<script type="text/javascript">
{# Need to take into account editable-forms when user logged in too, and make sure this script does not #}
{# adversely affect them when testing.. #}
jQuery(function($) {
    $('.reply').click(function(event) {
        // Use `first() so that immediate reply forms only are toggled, not other children further down tree.
        $(this).closest("div[id^='comment-']").find('.comment-reply-form').first().slideToggle('slow');
        event.preventDefault();
    });

    // Toggle all child comment uls.
    $('a[href^="#show-replies-"]').click(function() {
        $(this).closest("div[id^='comment-']").find('ul.comment_ul').toggle();
    });
});

//AJAX new comment POSTing (new blog post comment or comment reply).
//Mezzanine comment view can handle some AJAX out-of-the-box.
jQuery(function($) {
    $('form#blog-comment, .comment-reply-form').submit(function(event) {

        //var form = $('form#blog-comment');
        var form = $(this);
        // Initialize to all errors gone (this stops
        // errors stacking up if user invalidates again).
        $(form).find('ul.errorlist').remove();
        //$(form).find('ul.errorlist').hide();
        //$(form).find('ul.errorlist li:nth-child(n+1)').remove();

        // Show a little fa spinner to indicate waiting
        $(form).find('.reply-posted-spinner').css('display', 'inline-block');

        $.ajax({
            url: form.attr('action'), // where to POST.
            type: 'POST',
            data: form.serialize(),
            dataType: 'json',
         })

        .done(function (data) {
            //console.log(' DEBUG: AJAX success');
            //ajax success
            if (data.location) {
                // I think this is for the case when login needed to comment
                // to redirect to designated login url (superfluous for this theme.)
                console.log('DEBUG: AJAX is performing a redirect.')
                location = data.location;
            }else if(data.errors){
                console.log('DEBUG: Form did not validate.');
                if(data.errors.hasOwnProperty('name')){
                    //build up ul error list
                    var items = [];
                    var name_field = $(form).find('.input_id_name');
                    //var name_field_ul = $(form).find('.input_id_name ul');
                    items.push('<ul class="errorlist">');
                    $.each(data.errors.name, function(i, item) {
                            items.push('<li>' + item + '<i class="tag-tip"><i></i></i></li>');
                    });
                    items.push('</ul>');
                    $(name_field).prepend(items.join(''));
                    //$(name_field_ul).append(items.join(''));
                }
                if(data.errors.hasOwnProperty('email')){
                    //build up ul error list
                    var items = [];
                    var email_field = $(form).find('.input_id_email');
                    items.push('<ul class="errorlist">');
                    $.each(data.errors.email, function(i, item) {
                            items.push('<li>' + item + '<i class="tag-tip"><i></i></i></li>');
                    });
                    items.push('</ul>');
                    $(email_field).prepend(items.join(''));
                }
                if(data.errors.hasOwnProperty('comment')){
                    //build up ul error list
                    var items = [];
                    var comment_field = $(form).find('.input_id_comment');
                    items.push('<ul class="errorlist">');
                    $.each(data.errors.comment, function(i, item) {
                            items.push('<li>' + item + '<i class="tag-tip"><i></i></i></li>');
                    });
                    items.push('</ul>');
                    $(comment_field).prepend(items.join(''));
                }
            }
        })

       .error(function (request, error) {
            //This will happen ironically on form valid
            //since view will return redirect resp not JSON
            //console.log('ajax error:');
            //console.log(request.responseText);
            console.log('DEBUG: Form (probably) submitted successfully. AJAX reload page.');
            alert('THANKS FOR THE COMMENT');
            location.reload(); //needed after redirect.
            //alert('AJAX MSG AFTER RELOAD');
            //get nearest level-1 comment_ul
            //tree = $(form).closest('ul[class^="comment_ul"][data-level=1]');
            //tree.toggle();
            //$(tree).find('ul.comment_ul').toggle();
         })

        .complete(function(){
          $(form).find('.reply-posted-spinner').hide();
        })



        return false;
    });
});

// AJAX comment paging.
jQuery(function($) {
    //$('li.next, li.prev').click(function(event) {
    $('.pagination-nav > li').click(function(event) {

        var link = $(this).find('a');
        //alert('href is:'+$(link).attr('href'));
        // get page no. from href
        // e.g. href="?page=2"
        if ($(link).attr('href')){
            page_no = link.attr('href').match(/\?page=(\d+)/)[1]; 
        } else {
            // must be disabled
            event.preventDefault();
            return false;
        }

        console.log('DEBUG: Making ajax request for page number:'+page_no);

        $.ajax({
            url: '/ajax_comments/'+{{ object_for_comments.pk}},
            type: 'GET',
            data: {'page': page_no},
            dataType: 'json',
         })

        .done(function (data) {
            //console.log('ajax success');})
            //ajax success
            console.log('DEBUG: AJAX success.');
            //console.log(data);
            if(data.success){
                //this means no server side errors
                //push data.comments into appropriate place
                //$('#comments').empty(); //flush div first
                $('#comments').html(data.comments);
                //location.href="#pagination_ul";
                $('html,body').animate({    scrollTop: $("#pagination_ul").offset().top-300 }); 
            }else{
                console.log("DEBUG: Server-side errors occured.");
            }
        })

       .error(function (request, error) {
            console.log('DEBUG: AJAX error occured.');
         })

        event.preventDefault();
        return false;
    });
});
</script>

{# Mezzanine rating view can handle AJAX out-of-the-box #}
<script type="text/javascript">
jQuery(function($) {
    $('.rating .arrows a').click(function() {

        var arrow = $(this);
        var index = arrow.find('i').hasClass('icon-up') ? 1 : 0;
        var container = arrow.parent().parent();
        var form = container.find('form');

        form.find('input:radio')[index].checked = true;
        // User shorthand AJAX post method.
        $.post(form.attr('action'), form.serialize(), function(data) {
            if (data.location) {
                location = data.location;
            } else {
                container.find('.score').text(data.rating_sum);
            }
        }, 'json');

        return false;
    });
});
</script>
<style>.input_id_honeypot {display:none !important;}</style>

<ul data-level='0'>
    {% paginated_comment_thread object_for_comments %}
</ul>
<form method="post" id="blog-comment" action="{{ comment_url }}#comment">
    <h3>{% trans "Leave a comment" %}</h3>
    <div class="comment-background clearfix">
        {% comment %}
            To edit the way `fields_for` renders you need to copy and change the template 
            `core.includes.form_fields`.
        {% endcomment %}

        {% if not request.POST.replied_to %}
        {% fields_for posted_comment_form %}
        {% else %}
        {% fields_for unposted_comment_form %}
        {% endif %}
        <div class="form-actions">
            <i class="fa fa-spin fa-refresh reply-posted-spinner"></i>
            <input class="btn btn-primary btn-lg" type="submit" value="{% trans "Send" %}">
        </div>
    </div>
</form>
{% endif %}
</div>
