{% load mezzanine_tags rating_tags i18n  %}
   {# % if not rated or request.user.is_authenticated % #}
    <form method="post" action="{% url "rating" %}">
        {{ rating_form }}
        {% nevercache %}
        {% csrf_token %}
        {% endnevercache %}
    </form>
    <span class="arrows">
        <a href="#"><i class="fa fa-arrow-up icon-up"></i></a>
        <a href="#"><i class="fa fa-arrow-down icon-down"></i></a>
    </span>
    {# % endif % #}
    <span id="rating-{{ rating_object.id }}" class="score">
        {# There is also `rating_average` available. #}
        {{ rating_sum|floatformat }}
    </span>
