{# NB page extends base, and index extends page #}
{% extends "pages/page.html" %}

{# Could there be a better way to put a form on the homepage. #}
{# Surely starting out with a Form type page model, or an extension of one #}
{# is the way to go? This way you can do all the nice things in the admin you can #}
{# usually do for Form page. For example managing the Fields in the form and managing #}
{# the email settings (cf the leehodgkinson Contact page). #}
{# Whilst we can of course extend the form.html template as much as we like #}
{# , the standard Form model is not enough, we want to add things like custom #}
{# headings, slides, icons, blurbs and so on. So model itself needs to be extended #}
{# to give a new custom form type of page as an option when adding a page in admin #}
{# Simply subclass of Form instead of Page doesn't seem to play well #}
{# We'd also be able to specify the response on submission, button text, and so on #}
{# with a subclass of form #}
{# It seems you can't overwrite the Form, you can only inherit from Page. Field injection #}
{# on the Form model is an option. Simply copy and pasting the Form model, customising, and #}
{# then using that, would be another #}

{# NB for the thumbnail templatetag to work with jpegs, you will need #}
{# to install the necessary lib for pillow to do conv: sudo apt-get install libjpeg-dev #}
{# and reinstall pillow: pip install -I pillow, otherwise you will just get the original #}
{# image url returned. You can use the shell to work this out with #}
{# from mezzanine.core.templatetags.mezzanine_tags import thumbnail #}

{% load i18n static pages_tags mezzanine_tags staticfiles templateutils %}

{% block extra_js %}
{{ block.super }}

<script type="text/javascript">
function changeLoc(){
    // The mixitup panel has a finite delay in filling the
    // #Container div upon page load. This means upon page load initially
    // the div is smaller, and #link-contact redirects (either on form error, or ext page loads)
    // cause misalignment with top div,
    // since the offset is actually changing as mixitup fills the #Container div.
    //  This isn't solely to do with image loading, so jquery window.load or $('#Container img').last().load(..)
    // does not help. It is to do with the animation. Setting a min-height in the CSS
    // does not help since if the user adds more portfolio items/makes text bigger such
    // that the div is taller than the min-height, the div has to obviously expand beyond
    // the min height when the animation finishes, and we are back to square one.
    // I used the mixItEnd callback and a counter to fire this function, whenever the
    // count is zero (fire only on page loads, not everytime user does the sort animation).
    // I also use a recursive check to make sure the height of the last img is non-zero to test
    // whether images are truly loaded.
    // 1)If the contact-form has errors this func just redirects to contact form. 2) If not, but the user 
    // loaded the index page from an external page(e.g. nav on resume), and wanted to get to a given sec using the hash
    // it redirects the user there, now the animation is done.
    var last_height=$('#Container img').last().height();
    if(last_height==0){
        setTimeout(changeLoc, 500); // check again in 1/2 second
        console.log('Images not loaded. Check again in x amount of time');
    }else{
        console.log('Images correctly loaded.');
        //console.log('Top offset is:', $("#link-contact").offset().top);
        console.log('Height of mixitup portfolio #Container is:', $("#Container").height());
        console.log('Number of mixitup imgs is:', $('#Container img').length);
        console.log('Height of last mixitup img is:', $('#Container img').last().height());
        //console.log('Src of last mixitup img is:', $('#Container img').last().attr('src'));
        //$('html, body').animate({ scrollTop: $("#link-contact").offset().top });
        {% if contact_form.errors.items|length %}
        location.hash = '#link-contact';
        {% else %}
        var page = window.location.hash;
        if (page != "") {
            location.hash = page;
        }
        {% endif %}
    }
}
</script>

<script type="text/javascript" src="{% static "js/jquery.prettyPhoto.js" %}"></script>
<script type="text/javascript" charset="utf-8">
$(document).ready(function(){
        $("a[rel^='prettyPhoto']").prettyPhoto();
        });
</script>

{% endblock %}

{% block extra_foot_js %}
<!-- Portfolio Filter & Shuffle -->
<script src="{% static "js/jquery.mixitup.min.js" %}"></script>
<script> 
var mc=0;
$(function(){ 
        $('#Container').mixItUp({
callbacks: {
onMixEnd: function(state){
console.log('Operation ended. Count:', mc);
if(mc==0){
console.log('mc is zero. Init page load animation done. Waiting for images to load....');
$('#Container img').last().load(changeLoc());
}
mc++;
}
}
});
        }); 
</script>

<!-- Slideshow (needs jquery abov 1.9.1) -->
<script src="{% static "js/jquery.event.move.js" %}"></script>
<script src="{% static  "js/responsive-slider.js" %}"></script>

<!-- Parallax & Scrolling -->
<script type="text/javascript" src="{% static "js/jquery.localscroll-min.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery.scrollTo-min.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery.parallax-1.1.3.js" %}"></script>
<script type="text/javascript">
//jQuery(document).ready(function(){
// use load instead of ready so images fully loaded too.
$(window).load(function(){
        $.localScroll({});
        // xpos of image, speed of scroll
        $('#section-parallax-2').parallax("50%", 0.1);
        $('#section-parallax').parallax("50%", 0.5);
        });
</script> 

{% endblock %}


{% block topmenu %}
{# Menu for index with the sec links instead of absolute urls at top level #}
{# Needs pages_tags loaded #}
{% page_menu "pages/menus/dropdown.html" %}
{% endblock %}

{% block all_content %}


<!--page_container-->

<div class="page_container">

    <!-- Responsive slider - START -->
    <section id="section-slideshow">
        {# N.B. The slider cap images and their animations can only be set the same #}
        {# at the moment. Changing this would prob involve complicating the slide model #}
        {# to include 'animation' field (e.g. toptobottom) and a styling field. Not sure #}
        {# if this might be too complex for a user. #}

        {% if page.homepage.slides.all %}
        <div class="responsive-slider" data-spy="responsive-slider" data-autoplay="true">
            <div class="slides" data-group="slides">
                <ul>
                    {% for slide in page.homepage.slides.all %}
                    <li>

                    <div class="slide-body" data-group="slide">

                        <img src="{{ MEDIA_URL }}{% thumbnail slide.image 1600 459 %}">


                        <div class="caption header" data-animate="slideAppearRightToLeft" data-delay="500" data-length="300">

                            {% editable slide.cap_header %}
                            <h2>{{ slide.cap_header|default:"SLIDE HEADER" }} </h2>
                            {% endeditable %}

                            {% editable slide.cap_sub %}
                            <div class="caption sub" data-animate="slideAppearLeftToRight" data-delay="800" data-length="300">
                                {{ slide.cap_sub|default:"Slide sub" }}
                            </div>
                            {% endeditable %}

                        </div>

                        <div class="caption-img-wrapper">
                            {% if slide.cap_image1 %}
                            <div class="caption img-html5" data-animate="slideAppearLeftToRight" data-delay="200">
                                {# with the 0 it will scale rather than crop #}
                                <img src="{{ MEDIA_URL }}{% thumbnail slide.cap_image1 0 280 %}">

                            </div>
                            {% endif %}

                            {% if slide.cap_image2 %}
                            <div class="caption img-css3" data-animate="slideAppearLeftToRight">

                                <img src="{{ MEDIA_URL }}{% thumbnail slide.cap_image2 0 100 %}">

                            </div>
                            {% endif %}
                        </div>

                    </div>

                    </li>
                    {% endfor %}

                </ul>

            </div>

            <a class="slider-control left" href="#" data-jump="prev">Prev</a>

            <a class="slider-control right" href="#" data-jump="next">Next</a>

            <div class="pages">
                {% for slide in page.homepage.slides.all %}
                <a class="page" href="#" data-jump-to="{{ forloop.counter }}">{{ forloop.counter}}</a>
                {% endfor %}
            </div>

        </div>
        {% endif %}

    </section>  
    <!-- Responsive slider - END -->

    <!-- Latest blog posts - BEGIN -->
    <section id="section-blog"><a class="anchor" id="link-blog"></a>

        <div class="site-container clearfix">

            <div class="column-two-thirds">
                {# should filter only most recent n posts really #}
                {% for blog_post in blog_posts.all %}
                <div class="post clearfix">

                    {% editable blog_post.title %}
                    <h2><a href="{{ blog_post.get_absolute_url }}">{{ blog_post.title }}</a></h2>
                    {% endeditable %}

                    <div class="post_meta">
                        {% with blog_post.user as author %}
                        Posted by <a href="{% url "blog_post_list_author" author %}">{{ author.get_full_name|default:author.username }} /</a>
                        {% endwith %}
                        {% blocktrans with sometime=blog_post.publish_date|timesince %}{{ sometime }} ago{% endblocktrans %}
                    </div>

                    {% if settings.BLOG_USE_FEATURED_IMAGE and blog_post.featured_image %}
                    {% block blog_post_list_post_featured_image %}
                    <a href="{{ blog_post.get_absolute_url }}">
                        <img src="{{ MEDIA_URL }}{% thumbnail blog_post.featured_image 200 200 quality=100 top=0 %}">
                    </a>
                    {% endblock %}
                    {% endif %}

                    {# This stops at first para or br, unless user has unchecked generate in admin #}
                    {# and entered their own #}
                    {% editable blog_post.content %}
                    {{ blog_post.description_from_content|safe|truncatewords_html:100 }}
                    {% endeditable %}
                    <div class="readmore"><a href="{{ blog_post.get_absolute_url }}" class="arrow_link">Read more</a></div>

                </div>
                {% endfor %}

                <a href="{% url "blog_post_list" %}"><div class="more-posts">More Posts</div></a>

            </div>

            {# blog filter panel on rhs #}
            <div class="column-one-third">
                {% include "blog/includes/filter_panel.html" %}
            </div>

        </section>
        <!-- Latest blog posts - END -->

        <!-- Features -BEGIN-->
        {# Note we chose related name as 'blurbs' in theme.models when spec ForeignKey #}
        {% if page.homepage.blurbs.all %} 
        <section id="section-features"><a class="anchor" id="link-features"></a>
            <div class="site-container clearfix">
                {% editable page.homepage.features_heading page.homepage.features_text %}
                <h2>{{page.homepage.features_heading}}</h2>
                {{page.homepage.features_text|safe}}
                {% endeditable %}

                <div class="feature-container clearfix">
                    {# It doesn't make sense to set classes really? #} 
                    {% for blurb in page.homepage.blurbs.all %}
                    <div class="column-one-third">
                        <a href="{{ blurb.link }}">
                            {% if blurb.fa_icon != 'none' and blurb.fa_icon != '' %}
                            <i class="fa {{blurb.fa_icon}}"></i>
                            {% elif blurb.icon %}
                            <div class="advert" style="background: url('{{ blurb.icon.url }}') repeat scroll -7px -7px;"></div>
                            {% else %}
                            {# default if no image or font-awesome class #}
                            <i class="fa fa-plus-square"></i>
                            {% endif %}
                        </a>
                        {% editable blurb.title blurb.content %}
                        <h3>{{ blurb.title }}</h3>
                        <p>{{ blurb.content }}</p>
                        {% endeditable %}
                    </div>
                    {% endfor %}

                </div> 

            </div>
        </section>

        {% endif %}
        <!--Features -END-->

        <!-- Parallex section -BEGIN -->
        {# How shall we make this content managed? #}
        {# Editable header and caption, and the photo too? #}
        <section id="section-parallax" style="background-image: url('{{page.homepage.parallax_image.url}}');">
            <div class="parallax-container">
                <div class="parallax-text">
                    {% editable page.homepage.parallax_heading page.homepage.parallax_subheading %}
                    <h1>{{page.homepage.parallax_heading}}</h1>
                    <p>{{page.homepage.parallax_subheading}}</p>
                    {% endeditable %}
                </div>
            </div>
        </section>
        <!-- Parallax section -END-->

        <!--Portfolio section -BEGIN-->
        <section id="section-portfolio"><a class="anchor" id="link-portfolio"></a>
            <div class="site-container clearfix">

                {% editable page.homepage.portfolio_sec_heading %}
                <h2>{{ page.homepage.portfolio_sec_heading }}</h2>
                {% endeditable %}

                <div class="controls">
                    <button class="filter" data-filter="all">All</button>
                    {% for category in categories %}
                    <button class="filter" data-filter=".{{ category.title|slugify }}">{{ category.title }}</button>
                    {% endfor %}
                </div>

                <div id="Container" class="container clearfix">
                    {# are we going to always say col-4 on the index page, and just let mediaquery take care of resizing? #}
                    {% for item in items %}

                    <div class="mix col-4 {% spaceless %}{% for c in item.categories.all %}{{ c.title|slugify}} {% endfor %}{% endspaceless %}" data-category="{% spaceless %}{% for c in item.categories.all %}{{ c.title|slugify }} {% endfor %}{% endspaceless %}" data-myorder="{{ forloop.counter }}">
                        <div class="portfolio-image-container">
                            <img src="{{MEDIA_URL}}{% thumbnail item.featured_image 300 200 top=0 %}" alt="" />
                            <span class="text-content">
                                <span>
                                    <span>
                                        <h3>{{ item.title }}</h3>
                                        <a href="{% url "page" item.slug %}"><i class="fa fa-file-text-o"></i></a>
                                        <a href="{{ item.featured_image.url}}" rel="prettyPhoto[portfolio]"><i class="fa fa-search"></i></a>
                                    </span>
                                </span>
                            </span>
                        </div>
                        <div class="portfolio-description">
                            <h3><a href="{% url "page" item.slug %}">{{ item.title }}</a></h3>
                            <!--p>{{ item.short_description|richtext_filters|safe }}</p-->
                            {{ item.short_description|richtext_filters|safe }}
                        </div>
                    </div>

                    {% endfor %}
                    {# these are added just to keep orientation right when few items present? #}
                    <div class="col-4"></div>
                    <div class="col-4"></div> 
                </div><!-- END container --> 

            </div> <!-- END site-container -->
        </section>
        <!--//featured works-->

        <!-- BEGIN Testimonials -->
        <section id="section-parallax-2" class="clearfix" style="background-image:url('{{page.homepage.testimonials_image.url}}')">
            <a id="link-testimonials" class="anchor"></a>
            <div class="site-container clearfix">

                <div style="position:relative;">
                    {# This container pos relative div just keeps the EDIT tag in the right place. Since #}
                    {# the mixitup panel above has a delay in animation, so if the abs pos EDIT tag is positioned #}
                    {# to the window top, it will be miscalc by the time mixitup animation done, so out of whack #}
                    {% editable page.homepage.testimonials_heading page.homepage.testimonials_subheading %}
                    <h2>{{ page.homepage.testimonials_heading }} </h2>
                    <h4>{{ page.homepage.testimonials_subheading }}</h4>
                    {% endeditable %}
                </div>


                {% for testimonial in  page.homepage.testimonials.all %}
                <div class="column-one-third">
                    <div class="testimonial-container">

                        <div class="circ-img-wrap">
                            <img src="{{ MEDIA_URL }}{% thumbnail testimonial.icon 100 100 %}">
                        </div>

                        {% editable testimonial.name testimonial.content %}
                        <h3>{{ testimonial.name }}<div class="quote">&ldquo;</div></h3>
                        <p> {{ testimonial.content }} </p>
                        {% endeditable %}
                    </div>
                </div>
                {% endfor %}

            </div>

        </section>
        <!--END Testimonials -->

        <!--BEGIN Contact -->
        <section id="section-contact"><a class="anchor" id="link-contact"></a>

            <div class="site-container clearfix">

                <div class="column-two-thirds">

                    <h2>Contact </h2>
                    {% if submitted == "true" %}
                    <h3> Thanks for your message </h3>
                    We shall be in touch as soon as possible.
                    {% else %}
                    <h3>
                        Send a Message

                        {# you can style the way the errors_for tag presents the non-field-errors#}
                        {# by changing the templates/indlcues/form_errors.html template #}
                        {% errors_for contact_form %}

                        {% for message in messages %}
                        {% if 'success' in message.tags %}
                        <span class="text-success">({{ message }})</span>
                        {% endif %}
                        {% if 'error' in message.tags %}
                        <span class="errornote">({{ message }})</span>
                        {% endif %}
                        {% endfor %}
                    </h3>

                    <form method="post" {% if form.is_multipart %}enctype="multipart/form-data"{% endif %} class="contact-form">
                        {# % fields_for contact_form % #}
                        {% csrf_token %}

                        <div class="name-container">
                            {% if contact_form.name.errors %}
                            <ul class="errorlist">
                                {% for err in contact_form.name.errors %}
                                <li>{{err}}<i class="tag-tip"><i></i></i></li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                            {{ contact_form.name.label }}
                            {{ contact_form.name }}
                            <span class="asterisk_input">  </span>
                        </div>

                        <div class="email-container">
                            {% if contact_form.sender.errors %}
                            <ul class="errorlist">
                                {% for err in contact_form.sender.errors %}
                                <li>{{err}}<i class="tag-tip"><i></i></i></li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                            {{ contact_form.sender.label }}
                            {{ contact_form.sender }}
                            <span class="asterisk_input">  </span>
                        </div>

                        <div class="subject-container">
                            {% if contact_form.subject.errors %}
                            <ul class="errorlist">
                                {% for err in contact_form.subject.errors %}
                                <li>{{err}}<i class="tag-tip"><i></i></i></li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                            {{ contact_form.subject.label }}
                            {{ contact_form.subject }}
                            <span class="asterisk_input">  </span>
                        </div>

                        <div class="message-container">
                            {% if contact_form.message.errors %}
                            <ul class="errorlist">
                                {% for err in contact_form.message.errors %}
                                <li>{{err}}<i class="tag-tip"><i></i></i></li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                            {{ contact_form.message.label }}
                            {{ contact_form.message }}
                            <span class="asterisk_input">  </span>
                        </div>

                        <input type="submit" name="send" value="Send" class="send-button" />
                    </form>     
                    {% endif %}
                </div><!--end column-two-thirds-->

                <div class="column-one-third">

                    <div class="social-fonts-container clearfix">

                        <h3>Social Font Icons</h3>
                        {% if settings.SOCIAL_LINK_FACEBOOK %}
                        <a target="_blank" href="{{ settings.SOCIAL_LINK_FACEBOOK }}" class="facebook">
                            <i class="fa fa-facebook"></i> Facebook
                        </a>
                        <br/>
                        {% endif %}

                        {% if settings.SOCIAL_LINK_TWITTER %}
                        <a target="_blank" href="{{ settings.SOCIAL_LINK_TWITTER }}" class="twitter" >
                            <i class="fa fa-twitter"></i> Twitter
                        </a>
                        <br/>
                        {% endif %}

                        {% if settings.SOCIAL_LINK_VIMEO %}
                        <a target="_blank" href="{{ settings.SOCIAL_LINK_VIMEO }}" class="vimeo">
                            <i class="fa fa-vimeo-square"></i> Vimeo 
                        </a>
                        <br/>
                        {% endif %}

                        {% if settings.SOCIAL_LINK_TUMBLR %}
                        <a target="_blank" href="{{ settings.SOCIAL_LINK_TUMBLR }}" class="tumblr">
                            <i class="fa fa-tumblr"></i> Tumblr
                        </a>
                        <br/>
                        {% endif %}

                        {% if settings.SOCIAL_LINK_DELICIOUS %}
                        <a target="_blank" href="{{ settings.SOCIAL_LINK_DELICIOUS }}" class="delicious">
                            <i class="fa fa-delicious"></i> Delicious
                        </a>
                        <br/>
                        {% endif %}
                    </div><!--end social-fonts-container-->


                    <div class="contact-section-info"> 
                        <h3>Contact Info</h3>
                        <table>
                            <tr>
                                <td><i class="fa fa-user"></i></td>
                                <td>{{settings.PERSONAL_NAME|default:"Joe Bloggs"}}</td>
                            </tr>
                            <tr>
                                <td><i class="fa fa-envelope"></i></td>
                                <td><a href="mailto:#">{{settings.PERSONAL_EMAIL|default:"joey@gmail.com"}}</a></td>
                            </tr>
                            <tr>
                                <td><i class="fa fa-phone"></i></td>
                                <td>{{settings.PERSONAL_PHONE|default:"777-777-777"}}</td>
                            </tr>
                            <tr>
                                <td><i class="fa fa-home"></i></td>
                                <td>{{settings.PERSONAL_ADDRESS|default:"742 Evergreen Terrace, Springfield, US" }}</td>
                            </tr>
                            <tr>
                                <td><i class="fa fa-skype"></i></td>
                                <td>{{settings.PERSONAL_SKYPE|default:"joebloggs14"}}</td>
                            </tr>
                        </table>
                    </div><!--end contact-section-info--> 

                </div><!--end-column-one-third-->
            
            </div><!--end site-container-->

        </section>
        <!-- END contact -->

        </div><!--//page_container-->
        {% endblock all_content %}
