{% extends "pages/page.html" %}

{% load mezzanine_tags staticfiles %}

{% block extra_js %}
    {{ block.super }}
    <!-- PORTFOLIO ITEM SLIDER -->
    <script type="text/javascript" src="{% static "js/jquery.flexslider-min.js" %}"></script>
    <script type="text/javascript" charset="utf-8">
    $(window).load(function() {
            $('.flexslider').flexslider();
            });
    </script>
{% endblock %}

{# Important to sec this section id so css styles work correctly #}
{% block section_id %}page-portfolio-detail{% endblock %}

{% block main %}

    <div class="flexslider">
        <ul class="slides">
        {% for image in portfolioitem.images.all %}
            <li>
                <img src="{{ MEDIA_URL }}{% thumbnail image.file 600 400 top=0 %}" alt="" />
            </li>
         {% endfor %}
        </ul>
     </div>

{% editable page.portfolioitem.content %}
{{ page.portfolioitem.content|richtext_filters|safe }}
{% endeditable %}

{% endblock main %}

{% block right_panel %}

<h3> Summary </h3>

<p>
{% editable page.portfolioitem.short_description %}
{{ page.portfolioitem.short_description|richtext_filters|safe|truncatewords:20 }}
{% endeditable %}
</p>

<ul class="categories">
    {% for c in portfolioitem.categories.all %}
    <li> {{c.title }} </li>
    {% endfor %}
</ul>

<a class="btn dark_btn marg20" href="{{ page.portfolioitem.href }}" target="_blank">Launch project</a>
<a class="btn dark_btn marg20" href="{{ page.parent.get_absolute_url }}">Back to Portfolio</a>

{% endblock right_panel %}
