{% extends "pages/page.html" %}

{% load mezzanine_tags static %}

{# This is id of section that wraps around everything in the base.html #}
{# Important to set so css styles work correctly. #}
{% block section_id %}page-resume{% endblock %}

{% block main_wrapper %}

{% editable page.resumepage.heading %}        
<h2> {{ page.resumepage.heading }}</h2>
{% endeditable %}

<div class="column-one-third-left">
    <div class="polaroid">
        <img src="{{ MEDIA_URL }}{% thumbnail page.resumepage.resume_image 300 300 %}" alt="Photo of me" />
        <h2>{{settings.PERSONAL_NAME|default:"Joe Bloggs"}}</h2>
    </div>

    <div class="cv-personal-info">
        {% editable page.resumepage.nationality %}
        <strong>Nationality:</strong> {{page.resumepage.nationality }}<br/>
        {% endeditable %}
        {% editable page.resumepage.dob %}
        <strong>Date of Birth:</strong> {{page.resumepage.dob }}<br/>
        {% endeditable %}
        {% editable page.resumepage.location %}
        <strong>Location:</strong> {{page.resumepage.location}} <br/>
        {% endeditable %}
        {% editable page.resumepage.telephone %}
        <strong>Phone:</strong> {{ page.resumepage.telephone }} <br/>
        {% endeditable %}
        {% editable page.resumepage.email %}
        <strong>E-mail:</strong>{{ page.resumepage.email }} 
        {% endeditable %}
    </div>

    <h3>Personal Statement</h3>
    {% editable page.resumepage.statement %}
        <p> {{ page.resumepage.statement }} </p>
    {% endeditable %}
</div> <!--END column-one-third-left -->


<div class="column-two-thirds-right">
    <div class="cv-container">

        {% editable page.resumepage.experience_sec_heading %}
        <h3><i class="fa fa-university"></i> {{ page.resumepage.experience_sec_heading }}</h3>
        {% endeditable %}
        
        {% for experience in page.resumepage.experiences.all %}
            <div class="sub-title clearfix">
                {% editable experience.institute %}
                <h4>{{ experience.institute }}</h4>
                {% endeditable %}
                {% editable experience.position_title experience.startdate experience.enddate %}
                <span>{{experience.position_title}}, {{experience.startdate|date:"M Y"}} &#8211 {{experience.enddate|date:"M Y" }}</span>
                {% endeditable %}
            </div>
            {% editable experience.statements_text %}
                 {{ experience.statements_text|safe }}
            {% endeditable %}
        {% endfor %}

        {% editable page.resumepage.education_sec_heading %}
        <h3><i class="fa fa-graduation-cap"></i> {{ page.resumepage.education_sec_heading }}</h3>
        {% endeditable %}
        {% for qual in page.resumepage.qualifications.all %}
            <div class="sub-title clearfix">
                {% editable qual.institute qual.qualification_title qual.startdate qual.enddate %}
                <h4> {{  qual.institute }}</h4>
                <span>{{ qual.qualification_title }}, {{qual.startdate|date:"M Y"}} &#8211 {{qual.enddate|date:"M Y" }}</span>
                {% endeditable %}
            </div>
            {% editable qual.statements_text %}{{ qual.statements_text|safe }} {% endeditable %}
        {% endfor %}

        {% editable page.resumepage.skills_sec_heading page.resumepage.skills_subsec_heading %}
        <h3><i class="fa fa-wrench"></i>{{ page.resumepage.skills_sec_heading }}</h3>
        <h4>Things I can do</h4>
        {% endeditable %}

        {% editable page.resumepage.content %} {{ page.resumepage.content|safe }} {% endeditable %}

        {% editable page.resumepage.publications_sec_heading page.resumepage.publications_subsec_heading %}
        <h3><i class="fa fa-pencil"></i>{{ page.resumepage.publications_sec_heading }}</h3>
        <h4>{{  page.resumepage.publications_subsec_heading }}</h4>
        {% endeditable %}
        <ul>   
            {% for pub in page.resumepage.publications.all %}
            {% editable pub.authors pub.title pub.journal pub.volume pub.pages pub.arxivident pub.primaryClass %}
            <li> {{ pub.authors }} “{{ pub.title }}” {{ pub.journal }} {{pub.volume}} {{pub.pages}} ({{pub.pages}})
            <a target="_blank" href="http://arxiv.org/abs/{{pub.arxivident}}"> [arXiv: {{pub.arxivident}} [{{pub.primaryClass}}]]</a>.</li>
            {% endeditable %}
            {% endfor %}
        </ul>
    </div> <!--END CV-container-->
</div> <!-- END two-thirds-->

{% endblock %}
