{% load mezzanine_tags %}

{% nevercache %}
<input type="hidden" name="referrer" value="{{ request.META.HTTP_REFERER }}">
{% csrf_token %}
{% endnevercache %}

{% for field in form_for_fields %}
{% if field.is_hidden %}
{{ field }}
{% else %}
<div class="form-group input_{{ field.id_for_label }} {{ field.field.type }}
    {% if field.errors %} has-error{% endif %}">
    {% if field.errors %}
        <ul class="errorlist">
            {% for err in field.errors %}
            <li>{{err}}<i class="tag-tip"><i></i></i></li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if field.label %}<label class="control-label" for="{{ field.auto_id }}">{{ field.label }}</label> 
    {% endif %}

    {{ field }}

    {% if field.field.required %} 
        <!--div class="help-outer">
            <span class="help-inline"> 
                <i class="triangle"><i></i></i> {# { field.help_text } #}
            </span>
        </div-->
        <span class="asterisk_input">  </span> 
    {% endif %}
</div>
{% endif %}
{% endfor %}
